[user]
 name  = gcoguiec
 email = g.coguiec@gmail.com

[color]
 ui          = auto
 diff        = auto
 status      = auto
 branch      = auto
 interactive = auto

[push]
 default = tracking

[difftool]
 prompt = false

[difftool "meld"]
 cmd = meld \"$LOCAL\" \"$REMOTE\"

[diff]
 tool = meld

[pack]
 threads = 0

[merge]
 tool = meld
 verbosity = 5

[mergetool]
 keepbackup = true
 keeptemporaries = true

[url "git@github.com:"]
 insteadOf = "gh:"
 pushInsteadOf = "github:"
 pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
 insteadOf = "github:"

[url "git@gist.github.com:"]
 insteadOf = "gst:"
 pushInsteadOf = "gist:"
 pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
 insteadOf = "gist:"

[alias]
 i    = init
 st   = status
 sto  = status --untracked=no
 a    = add
 ap   = add --patch
 rm   = remove
 c    = commit -m
 ca   = commit -a -m
 co   = checkout
 l    = log --graph
 ll   = log --graph --pretty=oneline --abbrev-commit
 o    = remote add origin
 p    = push
 po   = push -u origin
 pl   = pull
 b    = branch
 ba   = branch -a
 d    = diff
 dc   = diff --cached
 rh-1 = reset --hard HEAD^1
 rh   = reset --hard HEAD
 rs-1 = reset --soft HEAD^1
 rs   = reset --soft HEAD
 rv   = revert
 c    = clone
 cr   = clone --recursive
 m    = merge
 t    = tag
 ta   = tag -a
 s    = show
 sm   = submodule
 sms  = submodule summary
 mt   = mergetool
 cp   = cherry-pick
 sth  = stash
 sths = stash save
 sthl = stash list
 stha = stash apply
 sthd = stash drop
 sthp = stash pop
 sthc = stash clear
